doctype html
html(lang='ru')
    head
        link(href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(charset='utf-8')

    body
        h1 Hello, webpack & stylus!
